<% include ../../views/partials/boilerplate.ejs %>
<script src='/src/jquery.js'></script>
<script src='/src/main.js'></script>

<div class="containerBackground">
	<div class="containerInformation">
		<h1>Species List In <%=fish[0].location%></h1>

		<ul>
			<% fish.forEach(fishOne => { %>
				<div class="singleSpecies">
					<a href="/fishlist/<%=fishOne.species%>">
						<li>
							<h2><%=fishOne.species%></h2>
						</li>
						<div>	
							<h3>Max Weight:</h3>
							<p><%=fishOne.weight%>  lbs</p>
						</div>
					</a>
					<a href="/user/myfish/<%=fishOne.species%>">Add to my fish List</a>
				</div>
			<%})%>
		</ul>


			<div class="newFishForm">
				<h2>New fish to list</h2>
				<form action="/gofish/<%=fish[0].id%>" method="post">
				  <input id="species" name="species" type="text"/><br>
				  <input id="weight" name="weight" type="text"/><br>
				  <input  type="submit" value="Add it!" />
				</form>
				<%-message%>
			</div>
			<input class="toggleForm" type="submit" value="Click to add a fish" />





	</div>
</div>

<% include ../../views/partials/footer.ejs %>