<% include ../../views/partials/boilerplate.ejs %>

<h1>Species List In <%=fish[0].location%></h1>

<ul>
	<% fish.forEach(fishOne => { %>
		<a href="/fishlist/<%=fishOne.species%>"><li><h2><%=fishOne.species%></h2><br><p><%=fishOne.weight%></p></li></a><br>
		<a href="/user/myfish/<%=fishOne.species%>">Add to my fish List</a>
	<%})%>
</ul>

<a href="/" class="homebutton">Homepage</a>

<h2>New fish to list</h2>
<form action="/gofish/<%=fish[0].id%>" method="post">
  <input name="species" type="text" placeholder="Species"/>
  <input name="weight" type="text" placeholder="Weight"/>
  <input type="submit" value="Add it!" />
</form>








<% include ../../views/partials/footer.ejs %>