<h1>List of all fish caught by <%=userData[0].uname%></h1>

<ul>
	<% userData.forEach((fish) => { %>

	<li>
	<p>Species</p><br>
	<%= fish.species %><br>
	<p>weight</p><br>
	<%= fish.user_fish_weight %><br>
	<p>caught in</p><br>
	<%= fish.location %><br>
	<p>relevant information about this fish</p><br>
	<%= fish.user_fish_info%><br>
	<form action="/user/mypage/<%=fish.id%>" method="get">
	<input type="submit" value="Edit this catch" />
	</form>
	</li>

	<% }) %> 
</ul>